<a href="https://colab.research.google.com/github/ashm212/Bayesian-Learning/blob/main/Bayesian_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
df = pd.read_csv(r'/content/iris.csv')

In [ ]:

#seperate train test)

df_train = df.sample(frac=0.8, random_state=1)
df_test=df.drop(df_train.index)
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
#set 4 buckets for each column in train set
df_train['quantile_SL_Disc'] = pd.qcut(df['sepal.length'], q=4,labels=None, precision=2)
df_train['quantile_SW_Disc'] = pd.qcut(df['sepal.width'], q=4,labels=None,precision=2)
df_train['quantile_PL_Disc'] = pd.qcut(df['petal.length'], q=4,labels=None,precision=2)
df_train['quantile_PW_Disc2'] = pd.qcut(df['petal.width'], q=4,labels=None,precision=2)

In [ ]:
df_train.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,quantile_SL_Disc,quantile_SW_Disc,quantile_PL_Disc,quantile_PW_Disc2
14,5.8,4.0,1.2,0.2,Setosa,"(5.1, 5.8]","(3.3, 4.4]","(0.99, 1.6]","(0.09000000000000001, 0.3]"
98,5.1,2.5,3.0,1.1,Versicolor,"(4.29, 5.1]","(1.99, 2.8]","(1.6, 4.35]","(0.3, 1.3]"
75,6.6,3.0,4.4,1.4,Versicolor,"(6.4, 7.9]","(2.8, 3.0]","(4.35, 5.1]","(1.3, 1.8]"
16,5.4,3.9,1.3,0.4,Setosa,"(5.1, 5.8]","(3.3, 4.4]","(0.99, 1.6]","(0.3, 1.3]"
131,7.9,3.8,6.4,2.0,Virginica,"(6.4, 7.9]","(3.3, 4.4]","(5.1, 6.9]","(1.8, 2.5]"

In [ ]:
#split the quantile low high into two parts 
df_train[['SL_low','SL_high']] = df_train['quantile_SL_Disc'].astype(str).str.split(',',expand=True)
df_train[['SW_low','SW_high']] = df_train['quantile_SW_Disc'].astype(str).str.split(',',expand=True)
df_train[['PL_low','PL_high']] = df_train['quantile_PL_Disc'].astype(str).str.split(',',expand=True)
df_train[['PW_low','PW_high']] = df_train['quantile_PW_Disc2'].astype(str).str.split(',',expand=True)
df_train['PW_low_2']=df_train['PW_low'].str[:5]
df_train['quantile_PW_Disc']=df_train['PW_low_2']+df_train['PW_high']

In [ ]:
df_train.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,quantile_SL_Disc,quantile_SW_Disc,quantile_PL_Disc,quantile_PW_Disc2,SL_low,SL_high,SW_low,SW_high,PL_low,PL_high,PW_low,PW_high,PW_low_2,quantile_PW_Disc
14,5.8,4.0,1.2,0.2,Setosa,"(5.1, 5.8]","(3.3, 4.4]","(0.99, 1.6]","(0.09000000000000001, 0.3]",(5.1,5.8],(3.3,4.4],(0.99,1.6],(0.09000000000000001,0.3],(0.09,(0.09 0.3]
98,5.1,2.5,3.0,1.1,Versicolor,"(4.29, 5.1]","(1.99, 2.8]","(1.6, 4.35]","(0.3, 1.3]",(4.29,5.1],(1.99,2.8],(1.6,4.35],(0.3,1.3],(0.3,(0.3 1.3]
75,6.6,3.0,4.4,1.4,Versicolor,"(6.4, 7.9]","(2.8, 3.0]","(4.35, 5.1]","(1.3, 1.8]",(6.4,7.9],(2.8,3.0],(4.35,5.1],(1.3,1.8],(1.3,(1.3 1.8]
16,5.4,3.9,1.3,0.4,Setosa,"(5.1, 5.8]","(3.3, 4.4]","(0.99, 1.6]","(0.3, 1.3]",(5.1,5.8],(3.3,4.4],(0.99,1.6],(0.3,1.3],(0.3,(0.3 1.3]
131,7.9,3.8,6.4,2.0,Virginica,"(6.4, 7.9]","(3.3, 4.4]","(5.1, 6.9]","(1.8, 2.5]",(6.4,7.9],(3.3,4.4],(5.1,6.9],(1.8,2.5],(1.8,(1.8 2.5]

In [ ]:
df_train['SL_low']=df_train['SL_low'].str.replace('(','')
df_train['SL_high']=df_train['SL_high'].str.replace(']','')
df_train['SW_low']=df_train['SW_low'].str.replace('(','')
df_train['SW_high']=df_train['SW_high'].str.replace(']','')
df_train['PL_low']=df_train['PL_low'].str.replace('(','')
df_train['PL_high']=df_train['PL_high'].str.replace(']','')
df_train['PW_low_2']=df_train['PW_low_2'].str.replace('(','')
df_train['PW_high']=df_train['PW_high'].str.replace(']','')
df_train.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,sepal.length,sepal.width,petal.length,petal.width,variety,quantile_SL_Disc,quantile_SW_Disc,quantile_PL_Disc,quantile_PW_Disc2,SL_low,SL_high,SW_low,SW_high,PL_low,PL_high,PW_low,PW_high,PW_low_2,quantile_PW_Disc
14,5.8,4.0,1.2,0.2,Setosa,"(5.1, 5.8]","(3.3, 4.4]","(0.99, 1.6]","(0.09000000000000001, 0.3]",5.1,5.8,3.3,4.4,0.99,1.6,(0.09000000000000001,0.3,0.09,(0.09 0.3]
98,5.1,2.5,3.0,1.1,Versicolor,"(4.29, 5.1]","(1.99, 2.8]","(1.6, 4.35]","(0.3, 1.3]",4.29,5.1,1.99,2.8,1.6,4.35,(0.3,1.3,0.3,(0.3 1.3]
75,6.6,3.0,4.4,1.4,Versicolor,"(6.4, 7.9]","(2.8, 3.0]","(4.35, 5.1]","(1.3, 1.8]",6.4,7.9,2.8,3.0,4.35,5.1,(1.3,1.8,1.3,(1.3 1.8]
16,5.4,3.9,1.3,0.4,Setosa,"(5.1, 5.8]","(3.3, 4.4]","(0.99, 1.6]","(0.3, 1.3]",5.1,5.8,3.3,4.4,0.99,1.6,(0.3,1.3,0.3,(0.3 1.3]
131,7.9,3.8,6.4,2.0,Virginica,"(6.4, 7.9]","(3.3, 4.4]","(5.1, 6.9]","(1.8, 2.5]",6.4,7.9,3.3,4.4,5.1,6.9,(1.8,2.5,1.8,(1.8 2.5]

In [ ]:
#group by low high and count for each flower
#setosa probability
df_setosa = df_train[df_train['variety'].isin(['Setosa'])]
df_setosaSL = df_setosa.groupby(['quantile_SL_Disc']).size().reset_index(name='count')
df_setosaSW = df_setosa.groupby(['quantile_SW_Disc']).size().reset_index(name='count')
df_setosaPL = df_setosa.groupby(['quantile_PL_Disc']).size().reset_index(name='count')
df_setosaPW = df_setosa.groupby(['quantile_PW_Disc']).size().reset_index(name='count')

#probability of setosa given that it has that sepal length quantile group i.e p(that quantile group | setosa)
df_setosaSL['probability_setosa_sepal_length'] = df_setosaSL['count']/df_setosaSL['count'].sum()
df_setosaSW['probability_setosa_sepal_width'] = df_setosaSW['count']/df_setosaSW['count'].sum()
df_setosaPL['probability_setosa_petal_length'] = df_setosaPL['count']/df_setosaPL['count'].sum()
df_setosaPW['probability_setosa_petal_width'] = df_setosaPW['count']/df_setosaPW['count'].sum()

df_setosaPW.head()

  quantile_PW_Disc  count  probability_setosa_petal_width
0       (0.09 0.3]     25                        0.833333
1        (0.3 1.3]      5                        0.166667

In [ ]:
#group by low high and count for each flower
#virginica probability
df_virginica = df_train[df_train['variety'].isin(['Virginica'])]
df_virginicaSL = df_virginica.groupby(['quantile_SL_Disc']).size().reset_index(name='count')
df_virginicaSW = df_virginica.groupby(['quantile_SW_Disc']).size().reset_index(name='count')
df_virginicaPL = df_virginica.groupby(['quantile_PL_Disc']).size().reset_index(name='count')
df_virginicaPW = df_virginica.groupby(['quantile_PW_Disc']).size().reset_index(name='count')

#probability of virginica given that it has that sepal length quantile group i.e p(that quantile group | setosa)
df_virginicaSL['probability_virginica_sepal_length'] = df_virginicaSL['count']/df_virginicaSL['count'].sum()
df_virginicaSW['probability_virginica_sepal_width'] = df_virginicaSW['count']/df_virginicaSW['count'].sum()
df_virginicaPL['probability_virginica_petal_length'] = df_virginicaPL['count']/df_virginicaPL['count'].sum()
df_virginicaPW['probability_virginica_petal_width'] = df_virginicaPW['count']/df_virginicaPW['count'].sum()

df_virginicaPW.head()

  quantile_PW_Disc  count  probability_virginica_petal_width
0        (1.3 1.8]     11                            0.34375
1        (1.8 2.5]     21                            0.65625

In [ ]:
#group by low high and count for each flower
#Versicolor probability
df_Versicolor = df_train[df_train['variety'].isin(['Versicolor'])]
df_VersicolorSL = df_Versicolor.groupby(['quantile_SL_Disc']).size().reset_index(name='count')
df_VersicolorSW = df_Versicolor.groupby(['quantile_SW_Disc']).size().reset_index(name='count')
df_VersicolorPL = df_Versicolor.groupby(['quantile_PL_Disc']).size().reset_index(name='count')
df_VersicolorPW = df_Versicolor.groupby(['quantile_PW_Disc']).size().reset_index(name='count')

#probability of Versicolor given that it has that sepal length quantile group i.e p(that quantile group | setosa)
df_VersicolorSL['probability_Versicolor_sepal_length'] = df_VersicolorSL['count']/df_VersicolorSL['count'].sum()
df_VersicolorSW['probability_Versicolor_sepal_width'] = df_VersicolorSW['count']/df_VersicolorSW['count'].sum()
df_VersicolorPL['probability_Versicolor_petal_length'] = df_VersicolorPL['count']/df_VersicolorPL['count'].sum()
df_VersicolorPW['probability_Versicolor_petal_width'] = df_VersicolorPW['count']/df_VersicolorPW['count'].sum()

df_VersicolorPW.head()

  quantile_PW_Disc  count  probability_Versicolor_petal_width
0        (0.3 1.3]     15                            0.535714
1        (1.3 1.8]     13                            0.464286

In [ ]:
# probability of each class - prior probability in training

df_prior=pd.DataFrame(df_train.groupby(['variety']).size().reset_index(name='count'))

In [ ]:
df_prior.head()

      variety  count
0      Setosa     30
1  Versicolor     28
2   Virginica     32

In [ ]:
df_prior['prior']=df_prior['count']/df_prior['count'].sum()

In [ ]:
df_prior.head()

      variety  count     prior
0      Setosa     30  0.333333
1  Versicolor     28  0.311111
2   Virginica     32  0.355556

In [ ]:
df_priorT=df_prior.T
df_priorT.head()

                0           1          2
variety    Setosa  Versicolor  Virginica
count          30          28         32
prior    0.333333    0.311111   0.355556

In [ ]:
len(df_test)

60

In [ ]:
df_priorT.columns = df_priorT.iloc[0] 

#df_prior = df_prior[1:]
df_priorprob=df_priorT.drop(['count','variety'], inplace = True)

df_priorT.head()

variety    Setosa Versicolor Virginica
prior    0.333333   0.311111  0.355556

In [ ]:
#cross join the prior probability of training with test
df_test['key'] = 0
df_priorT['key'] = 0

df_test=df_test.merge(df_priorT, on='key', how='outer')
len(df_test)

60

In [ ]:
df_test.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,key,Setosa,Versicolor,Virginica
0,5.1,3.5,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556
1,4.9,3.0,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556
2,4.6,3.1,1.5,0.2,Setosa,0,0.333333,0.311111,0.355556
3,5.0,3.4,1.5,0.2,Setosa,0,0.333333,0.311111,0.355556
4,4.4,2.9,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556

In [ ]:
df_test['SL_bins'] = pd.cut(x=df_test['sepal.length'], bins=[4.29, 5.1, 5.8, 6.4, 7.9])
df_test['SW_bins'] = pd.cut(x=df_test['sepal.width'], bins=[1.99, 2.8, 3.0, 3.3, 4.4])
df_test['PL_bins'] = pd.cut(x=df_test['petal.length'], bins=[0.99, 1.6, 4.35, 5.1, 6.9])
df_test['PW_bins'] = pd.cut(x=df_test['petal.width'], bins=[0.09000000000000001, 0.3, 1.3, 1.8, 2.5])

In [ ]:
df_test['SL_bins']=df_test['SL_bins'].replace('(4.299','4.2989999999999995, 5.1]')
df_test['PW_bins']=df_test['PW_bins'].replace('(0.09','0.09000000000000001, 0.3]')
df_test.head(n=2)

,sepal.length,sepal.width,petal.length,petal.width,variety,key,Setosa,Versicolor,Virginica,SL_bins,SW_bins,PL_bins,PW_bins
0,5.1,3.5,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]","(3.3, 4.4]","(0.99, 1.6]","(0.09, 0.3]"
1,4.9,3.0,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]","(2.8, 3.0]","(0.99, 1.6]","(0.09, 0.3]"

In [ ]:
df_test1=df_test.merge(df_setosaSL[['quantile_SL_Disc','probability_setosa_sepal_length']], left_on='SL_bins',right_on='quantile_SL_Disc', how='left').drop(columns = ['quantile_SL_Disc'])
df_test2=df_test1.merge(df_virginicaSL[['quantile_SL_Disc','probability_virginica_sepal_length']], left_on='SL_bins',right_on='quantile_SL_Disc', how='left').drop(columns = ['quantile_SL_Disc'])
df_test3=df_test2.merge(df_VersicolorSL[['quantile_SL_Disc','probability_Versicolor_sepal_length']], left_on='SL_bins',right_on='quantile_SL_Disc', how='left').drop(columns = ['quantile_SL_Disc'])
df_test4=df_test3.merge(df_setosaSW[['quantile_SW_Disc','probability_setosa_sepal_width']], left_on='SW_bins',right_on='quantile_SW_Disc', how='left').drop(columns = ['quantile_SW_Disc'])
df_test5=df_test4.merge(df_virginicaSW[['quantile_SW_Disc','probability_virginica_sepal_width']], left_on='SW_bins',right_on='quantile_SW_Disc', how='left').drop(columns = ['quantile_SW_Disc'])
df_test6=df_test5.merge(df_VersicolorSW[['quantile_SW_Disc','probability_Versicolor_sepal_width']], left_on='SW_bins',right_on='quantile_SW_Disc', how='left').drop(columns = ['quantile_SW_Disc'])
df_test7=df_test6.merge(df_setosaPL[['quantile_PL_Disc','probability_setosa_petal_length']], left_on='PL_bins',right_on='quantile_PL_Disc', how='left').drop(columns = ['quantile_PL_Disc'])
df_test8=df_test7.merge(df_virginicaPL[['quantile_PL_Disc','probability_virginica_petal_length']], left_on='PL_bins',right_on='quantile_PL_Disc', how='left').drop(columns = ['quantile_PL_Disc'])
df_test9=df_test8.merge(df_VersicolorPL[['quantile_PL_Disc','probability_Versicolor_petal_length']], left_on='PL_bins',right_on='quantile_PL_Disc', how='left').drop(columns = ['quantile_PL_Disc'])
df_test10=df_test9.merge(df_setosaPW[['quantile_PW_Disc','probability_setosa_petal_width']], left_on='PW_bins',right_on='quantile_PW_Disc', how='left').drop(columns = ['quantile_PW_Disc'])
df_test11=df_test10.merge(df_virginicaPW[['quantile_PW_Disc','probability_virginica_petal_width']], left_on='PW_bins',right_on='quantile_PW_Disc', how='left').drop(columns = ['quantile_PW_Disc'])
# #df_test11.head()
df_test12=df_test11.merge(df_VersicolorPW[['quantile_PW_Disc','probability_Versicolor_petal_width']], left_on='PW_bins',right_on='quantile_PW_Disc', how='left').drop(columns = ['quantile_PW_Disc'])
# #df_test12.head()
df_test12.head()

import numpy as np
df_test12=df_test12.replace(np.nan, 1)

In [ ]:
#calculate score of setosa for each row
#prior probability of setosa in training set * probability_setosa_sepal_length_x (this second term is the probability of setosa given the sepal length is in that bucket)
df_test12['Setosa_score'] = df_test12['Setosa'] * df_test12['probability_setosa_sepal_length']*df_test12['probability_setosa_sepal_width']*df_test12['probability_setosa_petal_width']*df_test12['probability_setosa_petal_length']

#calculate score of virginica for each row
#prior probability of virginica in training set * probability_virginica_sepal_length_x (this second term is the probability of virginica given the sepal length is in that bucket)
df_test12['Virginica_score'] = df_test12['Virginica'] * df_test12['probability_virginica_sepal_length']*df_test12['probability_virginica_sepal_width']*df_test12['probability_virginica_petal_width']*df_test12['probability_virginica_petal_length']


#calculate score of virginica for each row
#prior probability of setosa in training set * probability_setosa_sepal_length_x (this second term is the probability of setosa given the sepal length is in that bucket)
df_test12['Versicolor_score'] = df_test12['Versicolor'] * df_test12['probability_Versicolor_sepal_length']*df_test12['probability_Versicolor_sepal_width']*df_test12['probability_Versicolor_petal_width']*df_test12['probability_Versicolor_petal_length']

In [ ]:
df_test12.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,key,Setosa,Versicolor,Virginica,SL_bins,...,probability_Versicolor_sepal_width,probability_setosa_petal_length,probability_virginica_petal_length,probability_Versicolor_petal_length,probability_setosa_petal_width,probability_virginica_petal_width,probability_Versicolor_petal_width,Setosa_score,Virginica_score,Versicolor_score
0,5.1,3.5,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.035714,0.866667,0.0,0.0,1.0,1.0,1.0,0.121333,0.0,0.0
1,4.9,3.0,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.321429,0.866667,0.0,0.0,1.0,1.0,1.0,0.017333,0.0,0.0
2,4.6,3.1,1.5,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.107143,0.866667,0.0,0.0,1.0,1.0,1.0,0.034667,0.0,0.0
3,5.0,3.4,1.5,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.035714,0.866667,0.0,0.0,1.0,1.0,1.0,0.121333,0.0,0.0
4,4.4,2.9,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.321429,0.866667,0.0,0.0,1.0,1.0,1.0,0.017333,0.0,0.0

In [ ]:
df_test12['Setosa_score'] = df_test12['Setosa_score'].astype(float)
df_test12['Virginica_score'] = df_test12['Virginica_score'].astype(float)
df_test12['Versicolor_score'] = df_test12['Versicolor_score'].astype(float)


df_test12['predicted'] = df_test12[['Setosa_score','Virginica_score','Versicolor_score']].idxmax(axis='columns')

In [ ]:
df_test12.head(n=30)

,sepal.length,sepal.width,petal.length,petal.width,variety,key,Setosa,Versicolor,Virginica,SL_bins,...,probability_setosa_petal_length,probability_virginica_petal_length,probability_Versicolor_petal_length,probability_setosa_petal_width,probability_virginica_petal_width,probability_Versicolor_petal_width,Setosa_score,Virginica_score,Versicolor_score,predicted
0,5.1,3.5,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.121333,0.000000,0.000000,Setosa_score
1,4.9,3.0,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.017333,0.000000,0.000000,Setosa_score
2,4.6,3.1,1.5,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.034667,0.000000,0.000000,Setosa_score
3,5.0,3.4,1.5,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.121333,0.000000,0.000000,Setosa_score
4,4.4,2.9,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.017333,0.000000,0.000000,Setosa_score
5,4.9,3.1,1.5,0.1,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.034667,0.000000,0.000000,Setosa_score
6,4.3,3.0,1.1,0.1,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.017333,0.000000,0.000000,Setosa_score
7,5.7,4.4,1.5,0.4,Setosa,0,0.333333,0.311111,0.355556,"(5.1, 5.8]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.080889,0.000000,0.000000,Setosa_score
8,5.4,3.4,1.7,0.2,Setosa,0,0.333333,0.311111,0.355556,"(5.1, 5.8]",...,0.133333,0.00000,0.428571,1.0,1.0,1.0,0.012444,0.000000,0.002041,Setosa_score
9,5.1,3.7,1.5,0.4,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.121333,0.000000,0.000000,Setosa_score
10,4.6,3.6,1.0,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.121333,0.000000,0.000000,Setosa_score
11,4.8,3.4,1.9,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.133333,0.00000,0.428571,1.0,1.0,1.0,0.018667,0.000000,0.000340,Setosa_score
12,5.0,3.0,1.6,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.017333,0.000000,0.000000,Setosa_score
13,5.0,3.4,1.6,0.4,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.121333,0.000000,0.000000,Setosa_score
14,4.8,3.1,1.6,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.034667,0.000000,0.000000,Setosa_score
15,4.9,3.6,1.4,0.1,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.121333,0.000000,0.000000,Setosa_score
16,4.5,2.3,1.3,0.3,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.000000,0.000000,0.000000,Setosa_score
17,5.0,3.5,1.6,0.6,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.121333,0.000000,0.000000,Setosa_score
18,4.6,3.2,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.034667,0.000000,0.000000,Setosa_score
19,5.0,3.3,1.4,0.2,Setosa,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.866667,0.00000,0.000000,1.0,1.0,1.0,0.034667,0.000000,0.000000,Setosa_score
20,7.0,3.2,4.7,1.4,Versicolor,0,0.333333,0.311111,0.355556,"(6.4, 7.9]",...,0.000000,0.34375,0.571429,1.0,1.0,1.0,0.000000,0.017188,0.003401,Virginica_score
21,6.9,3.1,4.9,1.5,Versicolor,0,0.333333,0.311111,0.355556,"(6.4, 7.9]",...,0.000000,0.34375,0.571429,1.0,1.0,1.0,0.000000,0.017188,0.003401,Virginica_score
22,4.9,2.4,3.3,1.0,Versicolor,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.133333,0.00000,0.428571,1.0,1.0,1.0,0.000000,0.000000,0.005102,Versicolor_score
23,5.0,2.0,3.5,1.0,Versicolor,0,0.333333,0.311111,0.355556,"(4.29, 5.1]",...,0.133333,0.00000,0.428571,1.0,1.0,1.0,0.000000,0.000000,0.005102,Versicolor_score
24,5.9,3.0,4.2,1.5,Versicolor,0,0.333333,0.311111,0.355556,"(5.8, 6.4]",...,0.133333,0.00000,0.428571,1.0,1.0,1.0,0.000000,0.000000,0.013776,Versicolor_score
25,6.1,2.9,4.7,1.4,Versicolor,0,0.333333,0.311111,0.355556,"(5.8, 6.4]",...,0.000000,0.34375,0.571429,1.0,1.0,1.0,0.000000,0.014323,0.018367,Versicolor_score
26,5.6,2.9,3.6,1.3,Versicolor,0,0.333333,0.311111,0.355556,"(5.1, 5.8]",...,0.133333,0.00000,0.428571,1.0,1.0,1.0,0.001778,0.000000,0.018367,Versicolor_score
27,5.8,2.7,4.1,1.0,Versicolor,0,0.333333,0.311111,0.355556,"(5.1, 5.8]",...,0.133333,0.00000,0.428571,1.0,1.0,1.0,0.000000,0.000000,0.030612,Versicolor_score
28,6.2,2.2,4.5,1.5,Versicolor,0,0.333333,0.311111,0.355556,"(5.8, 6.4]",...,0.000000,0.34375,0.571429,1.0,1.0,1.0,0.000000,0.017188,0.030612,Versicolor_score
29,5.9,3.2,4.8,1.8,Versicolor,0,0.333333,0.311111,0.355556,"(5.8, 6.4]",...,0.000000,0.34375,0.571429,1.0,1.0,1.0,0.000000,0.011458,0.006122,Virginica_score

In [ ]:
#df_test12[['Predicted','seperatestuff']] = df_test12['predicted'].astype(str).str.split('_',expand=True)
df_test12['predicted'] = df_test12['predicted'].astype(str).str.split('_').str[0]
df_test12.head()
df_test12.to_csv('/content/testanswers.csv', index = False)